# 이클립스 ignore
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# 인텔리J ignore

target
build
bin
*~
*.log
.project
*.ipr
*.iws
*.iml
.git
*.class
.idea/
.idea/**
.idea/**/*
/org.bin
/stream.ucls
